from setuptools import find_packages, setup

setup(
    name="some_package",
    version="0.0.0",
    packages=find_packages(),
    author="mln",
    author_email="mln@example.com",
    description="a test package",
    license="MIT"
)